@use "./utilities" as *;

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__header {
		max-width: 120rem;
		margin-inline: auto;
		padding-top: 3.5rem;
		padding-bottom: 0.9rem;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 999;
	}

	&__header-logo {
		$logo-width-addition: 5vw;

		width: calc(100vw + $logo-width-addition);
		padding-inline: 1rem;
		padding-block: 0.5rem;
		rotate: -2.74deg;
		background-color: var(--clr-primary-200);

		img {
			max-width: 22rem;
			margin-inline: auto;
			display: block;
		}
	}

	&__header-form {
		margin-top: 2rem;

		&--input-container {
			border: 0.2rem solid var(--clr-primary-200);
			border-radius: 0.25rem;
			overflow: hidden;

			display: flex;

			button {
				display: flex;
				padding-inline: 0.5rem;
				background-color: var(--clr-primary-200);
			}

			input {
				padding-block: 0.75rem;
				padding-inline: 1.25rem;
				text-align: center;
				font-size: 1.1rem;
				color: var(--clr-primary-200);
			}
		}

		&--suggested-searches {
			display: flex;
			justify-content: center;
			gap: 1rem;
			background-color: var(--clr-primary-060);
		}
	}

	&__main {
		margin-block: 2rem;
		flex-grow: 2;

		> * {
			@include wrapper(90vw, 105rem);
		}
	}

	&__footer {
		padding: 1rem;
		display: flex;
		justify-content: center;
		text-transform: uppercase;

		p {
			padding-block: 0.3rem;
			position: relative;
			background-color: var(--clr-primary-060);

			&::before {
				content: "";
				width: 100%;
				height: 0.15rem;
				position: absolute;
				left: 0;
				top: 0;
				background-color: var(--clr-primary-200);
			}

			span {
				font-weight: bold;
				color: var(--clr-primary-200);
			}
		}
	}

	@include media() {
		&__header {
			padding-block: 3.5rem;
			padding-inline: 1rem;
			flex-direction: row;
			justify-content: space-between;
			z-index: unset;
		}

		&__header-logo {
			width: 30rem;
			translate: -1.5rem;
			position: relative;
			z-index: 999;
		}

		&__main {
			margin: 1rem;
		}

		&__footer {
			padding-block: 2rem;
			justify-content: flex-end;
		}
	}
}
