@use "../../global-styles/utilities" as *;

.home {
	display: grid;

	&__header {
		> * {
			margin-bottom: 1rem;
		}
	}

	&__video-list {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}

	&__btn-container {
		max-width: 21rem;
		padding-block: 0.45rem;
		padding-inline: 1.5rem;
		margin-inline: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--clr-primary-220);

		button {
			height: 100%;
			padding-block: 0.1rem;
			padding-inline: 0.75rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.1rem;
			border: 0.1rem solid var(--clr-primary-200);
			text-transform: uppercase;
			background-color: white;
			color: var(--clr-primary-200);
			font-weight: bold;
			border-radius: 0.25rem;

			&.active {
				background-color: var(--clr-primary-060);
			}
		}

		img {
			// I hate using "magic number" solutions, but this works well
			translate: 0 12.5%;
		}
	}

	&__btn-container-highlight {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__more-btn {
		width: fit-content;
		padding-block: 0.25rem;
		padding-inline: 1rem;
		margin-inline: auto;
		display: block;
		translate: 0 1.2rem;
		background-color: white;
		font-size: 1.5rem;
		text-align: center;
		border: 0.2rem solid var(--clr-primary-200);
		border-radius: 0.4rem;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--clr-primary-200);

		&--hidden {
			display: none;
		}
	}

	@include media() {
		&__btn-container {
			max-width: unset;
			margin-inline: unset;
			gap: 1rem;
		}

		&__header {
			display: flex;
			justify-content: space-between;
		}

		&__more-btn {
			translate: 0 2.3rem;
		}
	}
}
