.suggested-search {
	$text-size: 0.85rem;

	display: flex;
	align-items: center;
	gap: 0.2rem;
	font-size: $text-size;

	svg {
		width: $text-size;
		translate: 0 0.075rem;
	}

	svg path {
		fill: var(--clr-primary-200);
	}
}
